build-debug/
build-release/
build-debug-xcode/
build-release-xcode/
install-debug/
install-release/
.DS_Store
temp.cpp
temp.exe
*.pyc
.ipynb_checkpoints
visitlog.py
uberenv_libs
scripts/uberenv/packages/uberenv-conduit/empty.txt