build-*/
install-*/
.DS_Store
src/examples/using-with-cmake/build
src/examples/using-with-make/example
src/libs/conduit/python/build/
src/libs/conduit/python/conduit.egg-info/
*.pyc
.ipynb_checkpoints
visitlog.py
uberenv_libs
_uberenv_test*
conduit.docker.src.tar
conduit.docker.src.tar.gz
Testing/
.idea
.vscode/settings.json
.vscode/launch.json
scripts/azemu/AZEMU-LAUNCH*.sh
scripts/azemu/AZEMU-SCRIPT*.sh
scripts/gactemu/GACTEMU-LAUNCH*.sh
scripts/gactemu/GACTEMU-SCRIPT*.sh